<div class="row g-0 justify-content-center">
  <div class="col-2 d-flex justify-content-center pt-5 d-none d-md-block">
    <app-sidebar></app-sidebar>
  </div>
  <div class="col-8 pt-5 d-flex justify-content-center align-content-center">
    <div class="d-flex flex-column align-content-center justify-content-center">
      <img
        src="assets/images/burger.jpeg"
        alt="..."
        width="500px"
        height="auto"
        class="d-none d-md-block"
      />
      <img
        src="assets/images/burger.jpeg"
        alt="..."
        width="350px"
        height="auto"
        class="d-md-none"
      />
      <p>Name:</p>
      <p>Beschreibung:</p>
      <p>Zutaten:</p>
    </div>
  </div>
  <div class="col-2 d-flex justify-content-center pt-5 d-none d-md-block">
    3 of 3
  </div>
</div>
