<main>
  <div class="center">
    <h1>Welcome to</h1>
    <img
      src="assets/images/logo.png"
      class="img-fluid"
      width="100px"
      alt="Responsive image"
      style="padding-bottom: 20px"
    />
  </div>
  <div class="center">
    <form>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
        />
        <div id="emailHelp" class="form-text">
          We'll never share your email with anyone else.
        </div>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="exampleInputPassword1"
        />
      </div>
      <div class="mb-3">
        <a href="">Forgot password?</a>
      </div>
      <button
        [routerLink]="['home']"
        type="submit"
        class="btn btn-primary center"
      >
        Sign in
      </button>
      <p>or</p>
      <button [routerLink]="['register']" type="submit" class="btn btn-primary">
        Sign up
      </button>
    </form>
  </div>
</main>
